@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700');

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background: #004d4d;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: aliceblue;
    transition: color 0.3s ease;
}

a:hover {
    color: #ff7a7a;
}

header .logo a {
    background: url("../images/logo.png") no-repeat center;
    background-size: 90px;
    display: inline-block;
    height: 100px;
    width: 111px;
    text-indent: -9999px;
    position: relative;
    top: -15px;
}

.topnav {
    background: #004d4d;
    height: 100px;
    list-style: none;
    margin: 50px 0 0;
    padding: 0;
    text-align: right;
    font-size: 36px;
}

.topnav li {
    display: inline-block;
    margin: 10px 7% 0 0;
}

.topnav li:first-child {
    float: left;
}

section header {
    font-size: 62px;
    margin: 0 0 20px;
    font-weight: 100;
    text-align: center;
}

.games {
    margin-top: 20px;
}

section {
    text-align: center;
    padding: 8%;
}

.features {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    color: gray;
    padding: 20px;
    margin-top: -90px;
}

.features figure {
    text-align: center;
    width: 300px;
}

.features figure img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    transition: filter 0.3s ease;
}

.features figure img:hover {
    filter: brightness(0.7);
}

figcaption {
    font-size: 36px;
    margin-top: 10px;
    font-weight: 700;
}

figcaption a:hover {
    color: gray;
}

footer {
    font-size: 14px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    background: #004d4d;
}

/* Buttons */
section .mybutton {
    font-size: 24px;
    color: #151D21;
    background: #004d4d;
    padding: 6px 12px;
    margin: 30px 5%;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
}

section .mybutton:hover {
    background: white;
    font-size: 26px;
}

/* Media Queries */
@media screen and (max-width: 1140px) {
    .topnav {
        font-size: 24px;
    }

    .features figure img {
        width: 200px;
        height: 200px;
    }

    figcaption {
        font-size: 24px;
    }
}

@media screen and (max-width: 760px) {
    .features {
        display: block;
    }

    .topnav {
        font-size: 16px;
    }

    section header {
        font-size: 42px;
    }

    .games {
        margin-top: 50px;
    }

    footer {
        font-size: 10px;
    }

    header .logo a {
        height: 50px;
        width: 60px;
        background-size: 50px;
    }
}

@media screen and (max-width: 600px) {
    .topnav {
        font-size: 12px;
    }

    .mybutton {
        font-size: 12px;
    }

    .mybutton:hover {
        font-size: 14px;
    }
}
